
.App {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-items: center;
  text-align: center;
 
}

.searchBox {
  margin: auto;
  width:25 vw;
  position: relative;
  
}

.Statistics {
  font-size: 2.5vw;

}

.searchBox-input {  
  margin-top:5px;
  height: 1vh;
  font-size: 1em;
  height: 7vh;
  
}

.search-results-dropdown {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  position: absolute;
  align-items: stretch;
  width: 100%;
  font-size: 2em;
  margin-top: 0px;
  
 }

button { 
  font-size: .3em;
  border-top: 0px;
  background-color: #ffffff;
  
}

.searchValueButton {
  padding: 1vw; 
 
  }

.Sprite > img {

 max-width: 40%;

}

.randomise-btn {


border: .1vw;
border-style: solid;
  
}



@media screen and (min-width: 750px){

    .App {
      font-size: 2.5em;
      display: grid;
      grid-template: "a a a " auto
                     "b c c " auto 
                     "d d d " auto;
      }

    .searchBox {
      grid-column: 1/4;
    }


    .Statistics {
      grid-column: 1/2 ;
      min-width: 40vw;
      font-size: 2vw;
      
    }

    .Sprite {
      grid-column: 2/4;
      min-width: 60vw;
      place-self: center;

    }

    .randomise {
      grid-column: 1/4;
      
    }

    .Sprite > img {
      max-width: 50%;
     
     }

} 