.App {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-size: 5vw;
  justify-items: center;
  text-align: center;
 
}

.searchBox {
  margin: auto;

}
/*
.searchBox > ul {
 display: flex;
 flex-direction: column;
 justify-content: center ;
 padding-left: 0px;
 height: 5em;
 
}
*/


.Statistics {

}



button {
  background-color: white;
  height: 1vh;
  font-size: .25em;
  height: 5em;
 
  
}


.searchValueButton {
  background-color: white;
  padding: 1vw; 
 
  
  }



.Sprite > img {

  max-height: 125px;
  max-width: 125px;

}







@media screen and (min-width: 750px){

    .App {
      font-size: 3.2vw;
  
    }


    .Sprite > img {

      max-height: 50%;
      max-width: 50%;
    



    }

}